{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Profile - Fashion Store{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">
                        <i class="fas fa-user me-2"></i>My Profile
                    </h4>
                </div>
                <div class="card-body p-4">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <h5 class="mb-3">Personal Information</h5>
                        <div class="row">
                            <div class="col-md-6">
                                {{ user_form.first_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ user_form.last_name|as_crispy_field }}
                            </div>
                        </div>
                        {{ user_form.email|as_crispy_field }}
                        
                        <hr class="my-4">
                        
                        <h5 class="mb-3">Profile Details</h5>
                        <div class="row">
                            <div class="col-md-6">
                                {{ profile_form.phone|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ profile_form.date_of_birth|as_crispy_field }}
                            </div>
                        </div>
                        
                        {{ profile_form.address|as_crispy_field }}
                        
                        <div class="row">
                            <div class="col-md-6">
                                {{ profile_form.city|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ profile_form.state|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                {{ profile_form.zip_code|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ profile_form.country|as_crispy_field }}
                            </div>
                        </div>
                        
                        {{ profile_form.profile_picture|as_crispy_field }}
                        
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">
                                <i class="fas fa-save me-2"></i>Update Profile
                            </button>
                        </div>
                    </form>
                    
                    <hr class="my-4">
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body text-center">
                                    <i class="fas fa-shopping-bag fa-2x text-primary mb-2"></i>
                                    <h6>My Orders</h6>
                                    <p class="text-muted">View your order history</p>
                                    <a href="{% url 'store:order_history' %}" class="btn btn-outline-primary btn-sm">
                                        View Orders
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body text-center">
                                    <i class="fas fa-shopping-cart fa-2x text-primary mb-2"></i>
                                    <h6>Shopping Cart</h6>
                                    <p class="text-muted">Manage your cart items</p>
                                    <a href="{% url 'store:cart_detail' %}" class="btn btn-outline-primary btn-sm">
                                        View Cart
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 